In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# Pandas is a data manipulation library in python, used for data analysis and data cleaning.
# It provides two data structures series and dataframe 
# Series:- one dimensional array like object 
# Dataframe:- Two dimensional , size-mutable , and potentially hetrogeneous tabular data structure 
# with labelled axis

In [3]:
import pandas as pd

In [4]:
series = pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

In [5]:
# series from dictionary 
data = {10 : 'Aman' , 20: 'Pawan' , 30: 'Anjali'}

series = pd.Series(data)
series

10      Aman
20     Pawan
30    Anjali
dtype: object

In [6]:
# Another way of making a series 
data = [10,20,30]
index = ['a' , 'b' , 'c']

series = pd.Series(data, index) ; 

series

a    10
b    20
c    30
dtype: int64

In [7]:
#                                DataFrame 
data = {
    'Name' : ['Aman' , 'Pawan' , 'Anjali'], 
    'Age' : [23 , 24 , 25], 
    'city' : ['Noida' , 'Bangalore' , 'Chennai']
}


df = pd.DataFrame(data)
df

     Name  Age       city
0    Aman   23      Noida
1   Pawan   24  Bangalore
2  Anjali   25    Chennai

In [8]:
# Converting the data frame into numpy array 
import numpy as np 
np.array(df)

array([['Aman', 23, 'Noida'],
       ['Pawan', 24, 'Bangalore'],
       ['Anjali', 25, 'Chennai']], dtype=object)

In [9]:
# Create a dataframe from a list of dictionaries 
data = [
    {'Name' : 'Aman' , 'Age': 23 , 'city' : 'Noida'}, 
    {'Name' : 'pawan' , 'Age': 24 , 'city' : 'Bangalore'},
    {'Name' : 'Anjali' , 'Age': 25 , 'city' : 'Chennai'}
    
]

pd.DataFrame(data)

     Name  Age       city
0    Aman   23      Noida
1   pawan   24  Bangalore
2  Anjali   25    Chennai

In [10]:
# Picking up just one column means actually a series 
df['Name']

# picking up just the nth row 
df.loc[0]

# picking up the element iloc 
df.iloc[0][0]

/tmp/ipykernel_13/2861428103.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

'Aman'

In [11]:
# Accessing a specified element 
df.at[2,'Name']
df.iat[2,0]

'Anjali'

In [12]:
# Data Manipulation with DataFrame

# Added a new Column salary 
df['Salary']= [100000,200000,300000]
df

     Name  Age       city  Salary
0    Aman   23      Noida  100000
1   Pawan   24  Bangalore  200000
2  Anjali   25    Chennai  300000

In [13]:
# Removing a column 

# Here axis = 1 means changing the default value from axis = 0 which is to check the row index and 
# axis = 1 tells to check the column However this is not permanent deletion if you want permanent 
# deletion write inplace = True 
df.drop('Salary' , axis = 1 , inplace = True)

# dropping a row however its not permanent similar to romoving the column so you need to write 
# inplace = True to do it permanently  
df.drop(0)

     Name  Age       city
1   Pawan   24  Bangalore
2  Anjali   25    Chennai

In [14]:
df

     Name  Age       city
0    Aman   23      Noida
1   Pawan   24  Bangalore
2  Anjali   25    Chennai

In [15]:
# Add Age to the column 
df['Age'] += 1

In [16]:
# Display the datatypes of each column 
print("Data types :\n" , df.dtypes) ; 

# Display the DataFrame
print("Statistical Summary: \n" , df.describe())

Data types :
 Name    object
Age      int64
city    object
dtype: object
Statistical Summary:
         Age
count   3.0
mean   25.0
std     1.0
min    24.0
25%    24.5
50%    25.0
75%    25.5
max    26.0